extends layout

block content
  script(src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js")
  script(src="scripts/fetch.js")
  script(src="shapes/disc.js")
  script(src="shapes/token.js")
  script(src="shapes/ghostDisc.js")
  script(src="shapes/hud.js")
  script(src="scripts/menu.js")
  script(src="scripts/game.js")
  script(src="scripts/main.js")
  #board
