doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    .content
      block content
    if version
      .footer
        a(href='https://github.com/yesnaga/yesnaga', target='_blank', rel='noopener')
          = title
        = version
