doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    input(
      type='checkbox'
      onclick='game.tiles.forEach(t=> t.debug=!t.debug)'
      checked
    )
    a Debug
