*{
  margin:0;
  padding:0
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

canvas{
  margin-top: 2%;
}

a {
  color: #00B7FF;
}

.footer {
  margin-top: auto;
  margin-bottom: 1rem;
}

.footer * {
  margin: 0 5px;
}

[hidden] {
  display: none;
}
